<script id="checkbox-template" type="text/x-handlebars-template"> 
        {{#each checkboxes}} 
        <input type="checkbox" id="{{id}}" name="{{name}}" {{#if checked}}checked{{/if}}> 
        <label for="{{id}}">{{label}}</label>
        <br> {{/each}} 
</script>

<div>
        <section id="movie">
                <main>
                        <image id='poster'></image>
                </main>
                <aside>
                        <h2 id="info"></h2>
                </aside>
        </section>
</div>

