
.testing {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #2b0137;
    width: auto;
    height: 500px;
    /* Adjusted max-width */
    margin: 0 auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(243, 0, 0, 0.877);
}


